# Resource group name
resource_group="aml-terraform-demo"

# Resource name prefix
prefix="aml"

# Deployment location
location="West Europe"

# Friendly Workspace name
workspace_display_name="aml-terraform-demo"

# Jumpbox login credentials
jumphost_username="azureuser"
jumphost_password="ThisIsNotVerySecure!"

# Deploy Azure Kubernetes Cluster
deploy_aks=false

# Secure resources with private endpoints (otherwise use service endpoints). AML workspsace always uses private endpoint.
use_private_endpoints_for_workspace_resources=false

# Client Network VNET and Subnet ID
corp_network_vnet_id="/subscriptions/{subscription_id_here}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/virtualNetworks/{VNET_name}"
corp_network_subnet_id="/subscriptions/{subscription_id_here}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/virtualNetworks/{VNET_name}/subnets/{subnet_name}"

# Client Network DNS Zones IDs:
client_network_dns_zone_id_storage_blob = "/subscriptions/{subscription_id_here}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/privateDnsZones/privatelink.blob.core.windows.net"
client_network_dns_zone_id_storage_file = "/subscriptions/{subscription_id_here}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/privateDnsZones/privatelink.file.core.windows.net" 
client_network_dns_zone_id_acr = "/subscriptions/{subscription_id_here}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/privateDnsZones/privatelink.azurecr.io"
client_network_dns_zone_id_kv = "/subscriptions/{subscription_id_here}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/privateDnsZones/privatelink.vaultcore.azure.net"
client_network_dns_zone_id_workspace_api = "/subscriptions/{subscription_id_here}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/privateDnsZones/privatelink.api.azureml.ms"
client_network_dns_zone_id_workspace_notebooks = "/subscriptions/{subscription_id_here}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/privateDnsZones/privatelink.notebooks.azure.net"

